<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">e-mail</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="password" placeholder="">
            </label>
            <button class="button  button-block ">Login</button>
        </form>
    </ion-content>
</ion-view>